.item {
    font-weight: bold;
    border: 2px solid black;
    min-height: 160px;
    margin-top: 40px;
}

.item:hover {
    background-color: grey;
    color: white;
}

#formColumnDiv {
    font-weight: bold;
    margin-top: 30px;
}

#moneyFormDiv, #purchaseFormDiv, #changeFormDiv {
    margin-top: 10px;
}

.btn {
    border: 2px solid black;
    font-weight: bold;
}

#purchaseButton {
    min-width: 100%;
}

input, textarea {
    text-align: center;
}
